<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Cotizacion</title>
</head>

<body>
  <div class="container">
    <div align="center">
      <img src="./img/carro2.jpeg" style="height: 20rem; border-radius: 1rem;" class="img-fluid mt-3" alt="">
    </div>
    <div align="center">
      <h2 class="mt-5">Cotizacion</h2>
    </div>

    <form action="/cotizacion" method="post">
      <div align="center" class="p-3">
        <label class="form-label" for="">Valor del Automovil:</label>
        <input class="form-control" type="number" id="valor" name="valor" required>
        <label class="form-label" for="">Porcentaje de Pago Inicial:</label>
        <select class="form-select" name="pinicial" id="pinicial">
          <option value="10">10%</option>
          <option value="30">30%</option>
          <option value="50">50%</option>
          <option value="70">70%</option>
        </select>
        <label class="form-label" for="">Plazos</label>
        <select class="form-select" name="plazo" id="plazo">
          <option value="12">12 meses</option>
          <option value="24">24 meses</option>
          <option value="36">36 meses</option>
          <option value="48">48 meses</option>
          <option value="60">60 meses</option>
        </select>
        <br>
        <div class="btn-group mt-3" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="reset" class="btn btn-primary">Limpiar</button>
        </div>
      </div>

      <%
        let pagoInicial = 0;
        let totalfin = 0;
        let pmensual = 0;

        if (valor != null) {
          pagoInicial = valor * (pinicial / 100);
          totalfin = valor - pagoInicial;
          pmensual = totalfin / plazo;
      %>
      <h3>Informacion de la cotizacion</h3>
      <hr><br>
      <div class="fs-5">
        <p> Valor del Automovil :<%= valor %> : Porcentaje de pago inicial : <%= pinicial %></p>
        <p>Plazos : <%= plazo %></p>
        <p>Pago Inicial : <%= pagoInicial %> : Total a financiar : <%= totalfin %></p>
        <p>Pago Mensual : <%= pmensual %></p>
      </div>
      <%
        }
      %>
    </form>

  </div>
</body>

</html>