<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <title>Practica 01 EJS</title>
</head>

<body class="bg-primary" style="--bs-bg-opacity: 0.2">
  <%- include('partials/encabezado.html') %>
  <div class="container">
    <div align="center">
      <h1><%=titulo%></h1>
      <h2><%=name%></h2>
      <h3><%=group%></h3>
      <img src="./img/upsin.png" alt="" style="border-radius: 50%; margin: 2rem" />
    </div>
    <table class="table table-dark table-hover table-borderless text-center">
      <thead class="table-dark">
        <tr>
          <th>Matricula</th>
          <th>Nombre</th>
          <th>Sexo</th>
          <th>Materias</th>
        </tr>
      </thead>
      <tbody class="table-group-divider table-light table-striped-columns text-center">
        <% for(item of listado){ %>
        <tr>
          <td><%=item.matricula%></td>
          <td><%=item.nombre%></td>
          <td><%=item.sexo%></td>
          <td><%=item.materias%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('partials/pie-pagina.html') %>
</body>

</html>